@media (max-width: 954px) {
  .info--text {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  #hero p {
    background: linear-gradient(to right, #faebd7, transparent);
    font-weight: 500;
    color: var(--strong-text);
    border-radius: 10px;
    border: none;
    padding: 5px;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
    order: 2;
    color: var(--strong-text);
    font-size: 22px;
  }

  #menu-toggle:checked + .navbar--list {
    display: flex;
  }

  .navbar--list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background: var(--corn);
    border: 2px solid var(--electric);
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }
}

@media (max-width: 517px) {
  .info--container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .info-card {
    display: none;
  }

  .contact-email {
    padding: 4px;
    width: 80%;
  }

  .contact-email button {
    padding: 5px;
    background-color: var(--tomato);
    color: var(--light-yellow);
  }

  .Ice-cream-card {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #Ice-creams {
    text-align: center;
  }

  #hero {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .login-input {
    padding: 8px;
  }
}

@media (max-width: 416px) {
  #contact {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* login/register */

@media (max-width: 617px) {
  .img-login {
    display: none;
  }
  .login-card,
  .reg-card {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: unset;
  }
}
